.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.left-half {
  flex: 1;
  padding: 1rem;
}

.right-half {
  flex: 1;
  padding: 1rem;
   width: 300px
}
